@model IPG_v2._0.Models.Categorias

@{
    ViewData["Title"] = "Apagar";
}
<div class="container">
    <section class="ftco-section">
        <h1 class="text-danger">Apagar</h1>

        <h3 class="text-danger">Tem certeza que quer apagar?</h3>
        <div>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Nome)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="CategoriaId" />
                <input type="submit" value="Apagar" class="btn btn-danger" /> |
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
        </section>
    </div>
