@model IPG_v2._0.Models.Categorias

@{
    ViewData["Title"] = "Detalhes";
}
<div class="container">
    <section class="ftco-section">
        <h1 class="text-white">Detalhes</h1>

        <div>
            <h4 class="text-white">Categoria</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Nome)
                </dd>
            </dl>
        </div>
        <div>
            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.CategoriaId">Editar</a> |
            <a asp-action="Index" class="btn btn-secondary">Voltar a Lista</a>
        </div>
        </section>
    </div>
