.input-validation-error {
    border-color: red;
}

.progress {
    text-align: center;
    height: 15px;
    background-color: #777;
    position: relative;
    width: 80%;
    color: black;
    margin-bottom: 10px;
}

    .progress .progress-bar-80 {
        width: 80%;
        position: absolute;
        height: 100%;
        background-color: #add555;
    }

    .progress .progress-bar-70 {
        width: 70%;
        position: absolute;
        height: 100%;
        background-color: #add555;
    }

    .progress .progress-bar-40 {
        width: 40%;
        position: absolute;
        height: 100%;
        background-color: #FFFF00;
    }

    .progress .progress-bar-25 {
        width: 25%;
        position: absolute;
        height: 100%;
        background-color: #DF0101;
    }

