
@{
    ViewData["Title"] = "Sucesso";
}

<div class="card text-white bg-success mb-3">
    <div class="card-body">
        <h5 class="card-title">@ViewBag.Title</h5>
        <p class="card-text">@ViewBag.Mensagem</p>

        <div>
            <a class="btn btn-primary" asp-action="Index">
                Ver lista de projetos
            </a>
        </div>
    </div>
</div>