@{

}
<div class="container">
    <section class="ftco-section">
        <div class="row" style="max-width:100%; margin-left:1%; margin-right:1%;">
            <div class="col-md-4">
                <img src="~/Images/Imagem perfil.jpg" style="max-width: 330px;max-height: 330px; width: 100%; height: 100%; padding: 5px; " />
            </div>
            <div class="col-md-8">
                <div class="col-md-12" style="margin-bottom: 50px;">
                    <h1 class="title text-white">Vitaliy Hurskyy</h1>
                    <h4 class="sub-title text-white">Guarda - 351 960 478 193 - <a href="mailto:vitaliyhurskyy@gmail.com" class="link-decoration">vitaliyhurskyy@gmail.com</a></h4>
                </div>
                <div class="col-md-12">
                    <h3 class="text-white">Dados Pessoais</h3>
                    <p class="text-white">
                        <b>Nacionalidade:</b> Portuguesa
                        <br />
                        <b>Naturalidade:</b> Ucraniana
                        <br />
                        <b>Data de nascimento:</b> 10 de Agosto de 1998
                    </p>
                </div>
            </div>
        </div>
        </section>
</div>