@{

}

<div class="row" style="max-width:100%; margin-left:1%; margin-right:1%;">
    <div class="col-md-4">
        <img src="../IPG/Imagens/Imagem perfil.jpg" class="cv-img" />
    </div>
    <div class="col-md-8">
        <div class="col-md-12" style="margin-bottom: 50px;">
            <h1 class="title">Vitaliy Hurskyy</h1>
            <h4 class="sub-title">Guarda - 351 960 478 193 - <a href="mailto:vitaliyhurskyy@gmail.com" class="link-decoration">vitaliyhurskyy@gmail.com</a></h4>
        </div>
        <div class="col-md-12">
            <h3>Dados Pessoais</h3>
            <p>
                <b>Nacionalidade:</b> Portuguesa
                <br />
                <b>Naturalidade:</b> Ucraniana
                <br />
                <b>Data de nascimento:</b> 10 de Agosto de 1998
            </p>
        </div>
    </div>
</div>