@{
    ViewData["Title"] = "Resume";
}


<div class="row" style="max-width:100%; margin-left:1%; margin-right:1%;">
    <div class="col-md-4">
        <img src="../IPG/Imagens/Imagem perfil.jpg" class="cv-img" />
    </div>
    <div class="col-md-8">
        <div class="col-md-12" style="margin-bottom: 50px;">
            <h1 class="title">Vitaliy Hurskyy</h1>
            <h4 class="sub-title">Guarda - 351 960 478 193 - <a href="mailto:vitaliyhurskyy@gmail.com" class="link-decoration">vitaliyhurskyy@gmail.com</a></h4>
        </div>
        <div class="col-md-12" style="margin-bottom: 25px;">
            <h3>Experi&ecirc;ncia Profissional</</h3>
        </div>
        <div class="row" style="margin-bottom: 40px;">
            <div class="col-md-4" style="margin-bottom: 10px;">
                <h6><b>Fun&ccedil;&atilde;o:</b> <u>Operador de moldes</u></h6>
                <b>Empresa:</b> Kelly Services - Empresa de Trabalho Temporario, Lda
                <br />
                <b>Tempo de trabalho:</b> Jan 2020 - Abr 2020
                <br />
                <b>Descri&ccedil;&atilde;o:</b> Trabalho de equipa; Destribui&ccedil;&atilde;o de gesso; Deslo&ccedil;&atilde;o de objetos pesados e com grande volume.

            </div>
            <div class="col-md-4" style="margin-bottom: 10px;">
                <h6><b>Fun&ccedil;&atilde;o:</b> <u>Administrativo</u></h6>
                <b>Empresa:</b> Marques Associados Digital, Lda
                <br />
                <b>Tempo de trabalho:</b> Out 2018 - Out 2019
                <br />
                <b>Descri&ccedil;&atilde;o:</b> Analise de dados; Rece&ccedil;&atilde;o de clientes; Passagem de faturas e recibos, atrav&eacute;s de CentralGest.

            </div>
            <div class="col-md-4" style="margin-bottom: 10px;">
                <h6><b>Fun&ccedil;&atilde;o:</b> <u>Assistente de Canal Comercial</u></h6>
                <b>Empresa:</b> Vertente Humana - Empresa de Trabalho Temporario, Lda
                <br />
                <b>Tempo de trabalho:</b> Mar 2017 - Set 2017
                <br />
                <b>Descri&ccedil;&atilde;o:</b> Venda de serviços de telecomunica&ccedil;&atilde;o; Angaria&ccedil;&atilde;o de clientes; Gest&atilde;o de queixas e reclama&ccedil;&otilde;es.
            </div>
        </div>
    </div>
    <div class="col-md-12" style="margin-left:5px">
        <h3>Educa&ccedil;&atilde;o</h3>
        <p>
            <h6><b>Entidade:</b> <u>Escola de Viticultura e Enologia da Bairrada</u></h6>
            <b>&Aacute;rea de estudo:</b> T&eacute;cnico de Gest&atilde;o
            <br />
            <b>Tempo de estudo:</b> 2015 - 2018
            <br />
            <b>Descri&ccedil;&atilde;o:</b> Elaborar e expedir documenta&ccedil;&atilde;o; Desenvolver estrat&eacute;gias de marketing; Elaborar demonstra&ccedil;es financeiras e relat&oacute;rios de Gest&atilde;o; Controlar o fluxo de tesouraria;
        </p>
    </div>
    <div class="col-md-12" style="margin-left:5px">
        <div class="row">
            <div class="col-md-6">
                <h3>Software</h3>
                <div style="text-align: center;height: 20%;background-color: #777;position: relative;width: 100%;color: black;margin-bottom: 10px;">
                    <div style="width: 80%;position: absolute;height: 100%;background-color: #add555;">
                    <p>Word</p>
                    </div>
                </div>
                <div class="site.progress">
                    <div class="site.progress.progress-bar-80"><b>PowerPoint</b></div>
                </div>
                <div class="progress">
                    <div class="progress-bar-70"><b>Excel</b></div>
                </div>
                <div class="progress">
                    <div class="progress-bar-40"><b>HTML e CSS</b></div>
                </div>
                <div class="progress">
                    <div class="progress-bar-25"><b>C#</b></div>
                </div>
            </div>
            <div class="col-md-6">
                <h3>Idioma</h3>
                <ul>
                    <li>Ingl&ecirc;s</li>
                    <li>Ucraniano</li>
                    <li>Russo</li>
                </ul>
            </div>
        </div>
    </div>
</div>